{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
    <main
        role="main">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Hello, world!</h1>
                <p>This assessment is to build a Flickr Photo Gallery. 
                                    The application will consist of 2 main components: a user facing
                                frontend and a backend management system.
                 Please contact theppadon.s@gmail.com for any questions of this application.
                </p>
                <p>
                    user name: admin_user$test.com<br>Password: 12345
                </p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Flickr photo - v1
                    </h2>
                    <p>Please click button below to Flickr photo. This page is to show you how to handle Flickr Api by PHP.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="{{ path('flickr_new') }}" role="button">View  &raquo;</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Flickr photo - v2</h2>
                    <p>Please click button below to Flickr photo. This Flickr photo page developed using jquery to demonstrate of how to handle
                                                                                                                                                                                            multiple of jQuery.getJSON function.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="{{ path('flickr') }}" role="button">View  &raquo;</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Category management</h2>
                    <p>To view,add, update, and delete the category.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="{{ path('category_index') }}" role="button">View details &raquo;</a>
                    </p>
                </div>

            </div>
            <hr>
        </div>
        <!-- /container -->

    </main>

{% endblock %}
