/*  Login */

* {
    transition: all ease 0.25s;
}
html {
    transition: none !important;
}
body {
    font-family: Nunito, "Lato", sans-serif;
}
main {
    margin: 100px 0px;
}

.main-head{
    height: 100px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}


/* Image frame */
.mini-layout {
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
            box-shadow: 0 1px 2px rgba(0,0,0,.075);
  }
  .mini-layout,
  .mini-layout .mini-layout-body,
  .mini-layout.fluid .mini-layout-sidebar {
    height: 300px;
  }
  .mini-layout {
    margin-bottom: 20px;
    padding: 9px;
  }
  .mini-layout div {
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
  }
  .mini-layout .mini-layout-body {
    background-color: #dceaf4;
    margin: 0 auto;
    width: 70%;
  }
  .mini-layout.fluid .mini-layout-sidebar,
  .mini-layout.fluid .mini-layout-header,
  .mini-layout.fluid .mini-layout-body {
    float: left;
  }
  .mini-layout.fluid .mini-layout-sidebar {
    background-color: #bbd8e9;
    width: 20%;
  }
  .mini-layout.fluid .mini-layout-body {
    width: 77.5%;
    margin-left: 2.5%;
  }
  
/* Loading spin */
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

h1 {
    margin: 0px 0px 30px;
    text-align: center;
}
#category-panel .category-panel-title {
    margin: 10px 0px 30px;
}

#category-content {
    margin: 0px -15px;
    overflow: hidden;
}
#category-content:not(.active) {
    height: 0px !important;
}
#category-content .grid-sizer {
    width: 20%;
}
#category-content .grid-item {
    width: 20%;
    padding: 0px 15px 30px;
}
#category-content .card {
    box-shadow: 0px 0px 11px 1px #fff;
    text-decoration: none;
    color: inherit;
}
#category-content .card:hover {
    box-shadow: 0px 0px 11px 1px #999;
}
#category-content .card-body {
    padding: 12px 18px;
}
#category-content .card-title {
    margin-bottom: 0px;
    font-size: 16px;
}

#photo-details {
    height: 80vh;
    width: 80vw;
    padding: 30px;
    margin: 0px auto;
    background: white;
}
#photo-details > .row {
    height: 100%;
}
#photo-details > .row > [class*='col-'] {
    height: 100%;
}
#photo-details .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
#photo-details .wrapper img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

#photo-details .contents {
    width: 100%;
    max-height: 100%;
}
#photo-details .contents .content + .content {
    margin-top: 15px;
    border-top: 1px solid #343a40;
    padding-top: 15px;
}
#photo-details .contents .content .break-word {
    word-wrap: break-word;
    overflow-wrap: break-word;
}
