{{ form_start(form) }}
	<div class="row">
		<div class="col-12 col-sm-4 offset-sm-4">
			<div class="form-group">
				<div class="row">

					<div class="col-12 col-sm-4">
						Name
					</div>
					<div class="col-12 col-sm-8">
						{{ form_widget(form.name, {"attr": {"class": "form-control"}}) }}
					</div>

				</div>
			</div>

			<div class="form-group">
				<div class="row">

					<div class="col-12 col-sm-4">
						Keyword
					</div>
					<div class="col-12 col-sm-8">
						{{ form_widget(form.keyword, {"attr": {"class": "form-control"}}) }}
					</div>

				</div>
			</div>

			<div class="text-center" style="padding-top: 0.75rem;">
			    <a class="btn btn-primary" href="{{ path('category_index') }}">Back to List</a>&nbsp;
			    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
		    </div>
		</div>
	</div>
{{ form_end(form) }}
