{% extends 'base.html.twig' %}

{% block title %}Edit Category
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Edit Category</h1>
                {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}
                {{ include('category/_delete_form.html.twig', {'style': 'text-align: center;margin-top: 9px;'}) }}
            </div>
        </div>
    </div>
{% endblock %}
