{% extends 'base.html.twig' %}

{% block title %}Category
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Category</h1>

                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">Id</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Keyword</th>
                                <th class="text-center">CreatedDate</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                                <tr>
                                    <td class="text-center">{{ category.id }}</td>
                                    <td>{{ category.name }}</td>
                                    <td>{{ category.keyword }}</td>
                                    <td class="text-center">{{ category.createdDate ? category.createdDate|date('Y-m-d H:i:s') : '' }}</td>
                                    <td class="text-center">
                                        <a class="btn btn-primary btn-sm" href="{{ path('category_show', {'id': category.id}) }}">Show</a>
                                        <a class="btn btn-primary btn-sm" href="{{ path('category_edit', {'id': category.id}) }}">Edit</a>
                                        {{ include('category/_delete_form.html.twig', {'button_class': 'btn-sm'}) }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">no records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <a class="btn btn-primary" href="{{ path('category_new') }}">Create New</a>
            </div>
        </div>
    </div>
{% endblock %}
