{% extends 'base.html.twig' %}

{% block title %}Create New Category
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Create New Category</h1>
                {{ include('category/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
