{% extends 'base.html.twig' %}

{% block title %}Category
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 offset-sm-4">
                <h1>Category</h1>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ category.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ category.name }}</td>
                        </tr>
                        <tr>
                            <th>Keyword</th>
                            <td>{{ category.keyword }}</td>
                        </tr>
                        <tr>
                            <th>CreatedDate</th>
                            <td>{{ category.createdDate ? category.createdDate|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center">
                    <a class="btn btn-primary" href="{{ path('category_index') }}">Back to List</a>&nbsp;
                    <a class="btn btn-primary" href="{{ path('category_edit', {'id': category.id}) }}">Edit</a>
                </div>
                {{ include('category/_delete_form.html.twig', {'style': 'text-align: center;margin-top: 9px;'}) }}
            </div>
        </div>

    </div>
{% endblock %}
