<div id="photo-details">

	<div class="row">
		<div class="col-12 col-sm-6">
			<div class="wrapper">
				<img src="https://live.staticflickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}_b.jpg">
			</div>
		</div>

		<div class="col-12 col-sm-6">
			<div class="wrapper">

				<div class="contents">
					<div class="content">
						<div class="row">
							<div class="col-12 col-sm-3"><b>Title</b></div>
							<div class="col-12 col-sm-9"><div class="break-word"><b>{{ photo.title._content|raw }}</b></div></div>
						</div>
					</div>
					
					<div class="content">
						<div class="row">
							<div class="col-12 col-sm-3"><b>Owner</b></div>
							<div class="col-12 col-sm-9"><div class="break-word">{{ photo.owner.username|raw }}</div></div>
						</div>
					</div>

					<div class="content">
						<div class="row">
							<div class="col-12 col-sm-3"><b>Description</b></div>
							<div class="col-12 col-sm-9"><div class="break-word">{{ photo.description._content|raw }}</div></div>
						</div>
					</div>
					
					<div class="content">
						<div class="row">
							<div class="col-12 col-sm-3"><b>Taken</b></div>
							<div class="col-12 col-sm-9"><div class="break-word">{{ photo.dates.taken|raw }}</div></div>
						</div>
					</div>
					
					<div class="content">
						<div class="row">
							<div class="col-12 col-sm-3"><b>Tags</b></div>
							<div class="col-12 col-sm-9">
								<div class="break-word">{{ photo.tags_compiled|raw }}</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>
