{% extends 'base.html.twig' %}

{% block title %}Hello FlickrController!
{% endblock %}

{% block body %}

    <div class="container-fluid jquery-category-list" style="margin-top:100px">
        <div class="row">
            <div class="col-12" style="">
                <h1 id="top_header" class="text-center"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="list-group">
                    {% for category in categories %}
                        <button type="button" class="category-nav-btn list-group-item list-group-item-action">
                            {{ category.name }}
                        </button>
                    {% else %}
                        No Category have been found.
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div id="image-details" class="row text-center text-lg-left" display: none;></div>
                <div id="results" class="row text-center text-lg-left"></div>
            </div>
        </div>
    </div>
{% endblock %}
