{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css') }}">
{% endblock %}

{% block javascripts %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid symfony-category-list">
        <div class="row">
            <div class="col-12 col-md-2">
                {{ include('inc/category-panel.html.twig') }}
            </div>

            <div class="col-12 col-md-10">
                <h1>{{ page_title }}</h1>

                <div id="category-content" class="grid">
                    <div class="grid-sizer"></div>

                    {% for photo in photos %}
                    <div class="grid-item">
                        <a class="card" href="{{ url('flickr_details_new', {
                            'photo_server': photo.server,
                            'photo_id': photo.id,
                            'photo_secret': photo.secret
                        }) }}" data-id="{{ photo.id }}" data-big="{{ photo.big }}">
                            <img class="card-img-top" src="{{ photo.small }}">

                            <div class="card-body">
                                <h5 class="card-title text-center">{{ photo.title }}</h5>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
