<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta
        name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap core CSS -->
        <link href="/assets/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/custom/main.css" rel="stylesheet"> {% block stylesheets %}{% endblock %}
        <script src="/assets/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/assets/js/custom/main.js"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
