<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>
            {% block title %}{% endblock %}
        </title>

        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
        <link href="/assets/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/custom/main.css" rel="stylesheet"> {% block stylesheets %}{% endblock %}
        </head>

        <body>
            <div id="cover-spin"></div>
            <header>
                <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('home') }}">Home</a>
                            </li>

                            {% if app.user %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('flickr_new') }}">Flickr Photo Viewer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('category_index') }}">Manage Category</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="mx-auto order-0">
                        <a class="navbar-brand mx-auto" href="javascript:;">Assessment</a>
                    </div>
                    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                        <ul class="navbar-nav ml-auto">
                            {% if app.user %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ app.user.email }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </header>

            <main>
                {% block body %}{% endblock %}
            </main>

            <script src="/assets/node_modules/jquery/dist/jquery.min.js"></script>
            <script src="/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="/assets/js/custom/main.js"></script>
            {% block javascripts %}{% endblock %}
        </body>
    </html>
