<div id="category-panel">
	<h2 class="category-panel-title text-dark">Category</h2>

	{% if categories|length > 0 %}

		<div class="list-group">
	    {% for category in categories %}
	    	{% if category.name == category_name %}{% set additional_class = "active" %}
	    	{% else %}{% set additional_class = "" %}{% endif %}

			<a class="list-group-item list-group-item-action list-group-item-dark {{ additional_class }}" href="{{ url('flickr_new', {'keyword': category.keyword}) }}">{{ category.name }}</a>
	    {% endfor %}
		</div>

	{% else %}<div>No category found</div>{% endif %}
</div>
